header {
    width: 100%;
    text-align: center;
    background-color: #214778;
    color: #fff;
    padding: 20px;
    z-index: 2;
    border: none;
    border-radius: 10px;
    display: block;
}

#header {
  width: 95%;
}

section {
  text-align: center;
    background-color: #FECF93;
    margin: 10px; 
    padding: 20px;
    width: 30%;
    
}

span {
  margin: 20px;
  text-align: left;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  padding:1px ;
  background-color: skyblue;
}

body {
  background-color: antiquewhite;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about {
  border: #ffff solid;
  width: 100%;
}

#education {
 border: #ffff solid;
  width: 100%;
}

#experience {
 border: #ffff solid;
  width: 100%;
}

#skills {
 border: #ffff solid;
  width: 100%;
}

#comms {
   border: #ffff solid;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  scale: 100%;
  width: 70%;
}

/* Add CSS for slide-in animation */
@keyframes slide-in {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

/* Add slide-in class to menu content */
#menu-content.slide-in {
  animation: slide-in 0.5s ease-in-out;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1C2A56; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  width: 80%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#button {
  font-size: 16px;
  width: 100px;
  height: 30px;
  border-style: none;
  vertical-align: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#214778 ;
  color: #ffff;
  border-radius: 5px ;
}

button:hover {
  cursor: pointer;
}

